<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Audio Mind Uploader</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h1 class="text-center display-4 my-4">Audio Mind Uploads</h1>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="custom-file mb-3">
                    <input type="file" name="file" id="file" class="custom-file-input">
                    <label for="file" class="custom-file-label">Choose File</label>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary btn-block">
                </form>
                <hr>
                <% if(files){ %>
                    <% files.forEach(function(file) { %>
                            <div class="car card-body mb-3">
                                <% if(file.isVideo) { %>
                                    <video width="320" height="240" controls autoplay> 
                                    <source src="video/<%= file.filename %>">
                                    </video>
                                <% } else if(file.isAudio) { %>
                                    <audio controls>
                                        <source src="audio/<%= file.filename %>">
                                    </audio>
                                <% } else { %>
                                    <%= file.filename %>
                                <% } %>
                                <form method='POST' action="/files/<%= file._id %>?_method=DELETE">
                                <button class="btn btn-danger btn-block mt-4">Delete</button></form>
                            </div>
                        <% }) %>
                <% } else { %>
                    <p>no files to show</p>
                <% } %>

                </div>
        </div>
    </div>    

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</body>
</html>